header {
    background-color: var(--primary-color--);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: 2rem 5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    text-decoration: none;
}

h1 {
    font-family: var(--brand-font--);
    font-size: 2.5rem;
    letter-spacing: -3px;
    color: var(--purple-color--);
}

.header nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.header nav ul li {
    list-style: none;
}

.header nav ul li a {
    color: var(--secondary-color--);
    font-size: 1.8rem;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.header nav ul li a:hover {
    color: var(--purple-color--);
    border-bottom: 2px solid var(--purple-color--);
}

.header nav ul li a:active {
    opacity: 0.7;
}

.home {
    color: var(--purple-color--);
}

.contact-link {
    background-color: var(--purple-color--);
    color: var(--primary-color--);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.contact-link:hover {
    opacity: 0.9;
}

.contact-link:active {
    opacity: 0.7;
}

.menu-btn {
    display: none;
    background: none;
    border: 0;
}

.menu-btn i {
    color: var(--purple-color--);
    font-size: 2.5rem;
}

.is-toggled {
    display: flex !important;
}

.nav-link.active {
    color: var(--purple-color--);
    border-bottom: 2px solid var(--purple-color--);
}

@media (max-width: 768px) {
    header {
        padding: 1rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .header nav ul {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: var(--purple-color--);
        position: absolute;
        top: 4.2rem;
        left: 0;
        padding-block: 2rem;
    }
    .home,
    .header nav ul li a,
    .header nav ul li a:hover {
        color: var(--primary-color--);
    }
    .contact-link {
        font-size: 1.8rem;
        font-weight: 500;
        visibility: hidden;
    }
    .contact-link img {
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .nav-link.active {
        color: var(--primary-color--);
        border-bottom: 2px solid var(--primary-color--);
    }
}

@media (min-width: 1400px) {
    .header {
        max-width: 1200px;
        margin: auto;
    }
    header {
        padding-inline: 0rem;
    }
}